/* From Uiverse.io by escannord */ 
.input {
    max-width: 80%;
    display: none;
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    height: fit-content;
    border: 1px solid #e5e5e5;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
  